/* VARIABLES: LESS */


@NightSky: #2A3D4D;//151e26
@Peace: #E1E5E6;
//@River: #5E688F;
@Himalaya: #85A2C7;
//@GlacialLake: #92CCD4;
//@InnerLight #D6CCC2;

@font-header: 'arca_majoraheavy', Helvetica, arial, sans-serif;

@font-family-body: 'Raleway', Helvetica, arial, sans-serif;